*{
    margin: 0px;
    padding: 0px;
}
.Box{
    width: 100%;
    height: 80px;
    background-color: #000;
    justify-content: center;
    display: flex;
    align-items: center;
    position: sticky;
}
.main{
    width: 90%;
    height: 60px;
    justify-content: space-between;
    display: flex;
    align-items: center;
}
.NavLink{
    width: 32%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.NavLinkright{
    width: 16%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.Logo{
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 90%;
    cursor: pointer;
}
.btn{
    padding: 15px 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 7px;
    cursor: pointer;
    border: none;
      font-weight: 400;
    font-size: bold;
}
ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
li{
    text-decoration: none;
    margin:0px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
a{
    text-decoration: none;
    color: #ffff;
    cursor: pointer;
    font-weight: 400;
    font-size: bold;
}
.live{
    width: 100%;
    height: 573px;
    background-color: #fff;
    justify-content: center;
    display: flex;
    align-items: center;
}
.livetwo{
    width: 90%;
    height: auto;
  justify-content: space-between;
    align-items: center;
    display: flex;
    gap: 7px;
    object-fit: cover;
}
.mySlides{
    width: 100%;
}
.text{
color: #3f3f3f;
}
img{
    border-radius: 10px;
    border: none;
}